.ZebraCSSTableStyle table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    table-layout: fixed;
}

.ZebraCSSTableStyle {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 2px solid #000000;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.ZebraCSSTableStyle table td, .ZebraCSSTableStyle table th {
    padding: 4px 10px;
}

.ZebraCSSTableStyle table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFCC33), color-stop(1, #D4A92A));
    background: -moz-linear-gradient(center top, #FFCC33 5%, #D4A92A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCC33', endColorstr='#D4A92A');
    background-color: #FFCC33;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #000000;
}

.ZebraCSSTableStyle table thead th:first-child {
    border: none;
}

.ZebraCSSTableStyle table tbody td {
    color: #3D3D3D;
    border-left: 1px solid #000000;
    font-size: 12px;
    font-weight: normal;
}

.ZebraCSSTableStyle table tbody .alt td {
    background: #799FD1;
    color: #3D3D3D;
}

.ZebraCSSTableStyle table tbody td:first-child {
    border: none;
}

.ZebraCSSTableStyle table tfoot td div {
    border-top: 1px solid #000000;
    background: #FFCC33;
}

.ZebraCSSTableStyle table tfoot td {
    padding: 0;
    font-size: 12px
}

.ZebraCSSTableStyle table tfoot td div {
    padding: 2px;
}